<div>
    <h2>Sneakers</h2>
{{#if items}}
<div class="root">
    <div class="container">
    {{#each items}}
    <div class="card" style="width: 18rem;">
        {{#if this.picture}}
        <img src="/item/image/{{this.picture}}" class="card-img-top" alt={{this.picture}}>
        
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{this.name}} by {{this.brand.name}}</h5>
            <p class="card-text">Owner: {{this.owner.username}}</p>
            <a href="/item/{{this._id}}" class="btn btn-primary">View Item</a>
        </div>
    </div>
    {{/each}}
    </div>
</div>
{{else}}
    <div class="container">
        <div class="card">
            <h3> No sneakers currently - please try back later!</h3>
        </div>
    </div>
{{/if}}
    
</div>

