{{#if item}}
    <div>
        {{#if session}}
        <form method="POST" action="/item/delete/{{item._id}}">
            <input type="submit" value="Delete Item">
        </form>
        {{/if}}
        <br>
        <br>        
        <div style="text-align:center">
            <h3>{{item.name}} by {{item.brand.name}}</h3>
            <p>Description: {{item.desc}}</p>
            <p>Price: ${{item.price}} </p>
            <p>Category: {{item.category.name}}</p>
            <p>Size: {{item.size}}</p>
            <p>Owner: <a href="/user/{{item.owner._id}}"> {{item.owner.username}}</a></p>
            {{#if item.picture}}
        </div>
        <img src="/item/image/{{item.picture}}" class="card-img-top" alt={{item.picture}}>
        {{else}}
        {{#if session}}
        <div>
            <form method="GET" action="/item/edit/{{item._id}}"> 
                <input type="submit" value="Add Picture!">
            </form>
        </div>
        {{/if}}
        <br>
        {{!-- <form method="POST" action="/delete/{{item._id}}">
            <input type="submit" value="Delete Item">
        </form> --}}
    </div>
{{/if}}


    
{{/if}}